<div class="user-details">
  <h1>Featured Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/sportive-shot.png" | prepend:
    site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Sportive</h3>
    <ul>
      <li>Network Layer Using Alamofire</li>
      <li>Favourite Leagues Feature using CoreData</li>
      <li>Handling Offline Mode Using Reachability</li>
    </ul>

    <p>
      IOS App to list all sports Leagues , Teams and , minimal information about
      every one and save your favourite Leagues
    </p>
    <a class="project-link" href="https://github.com/BavlyAbdelmasih/Sportive"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mstore-video.gif" | prepend:
    site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Mstore-Clone</h3>
    <ul>
      <li>Cross platform Ecommerce Application Using React-Native</li>
      <li>Backend API Server using NodeJS</li>
      <li>Use Redux, Context, Hooks, Axios , Formik</li>
    </ul>

    <a
      class="project-link"
      href="https://github.com/BavlyAbdelmasih/MStore-Clone"
      >Check it out</a
    >
  </div>
</div>
